*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.container{
    margin: 100px auto 15px;
    border: 1px solid black;
    padding: 25px;
    background: white;
    border-radius: 10px;
    width: 100%;
    max-width: 540px;
}
.todolist{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.middlebutton{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 13px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    border-radius: 50%;
    background: #edeef0;
}