*{
    padding: 0;margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark_theme {
    --primary-color: #0c0c0c;
    --secondary-color: #ffffff;
}

body{
    background: var(--primary-color);
    color: var(--secondary-color);
}
.website_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
}
.website_header .right_header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
}
.website_header .website_icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
}
.center_website{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.left_center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.upward{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--secondary-color);
}
.upward #one{
    font-size: 30px;
}
.upward #two{
    font-size: 20px;
}
.upward #three{
    font-size: 16px;
    width: 30%;
    background: white;
}
.downward{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--secondary-color);
    justify-content: space-around;
}
#icon{
    width: 25px;
    cursor: pointer;
}
